extends layouts/main-layout

block content
    if !profileUser
        span.errorMessage Check the url you are trying to access
    else
        script.
          const profileUserId = '!{profileUser._id}';
          const selectedTab = '!{selectedTab}';

        .tabsContainer
            +createTab('Following', `/profile/${profileUser.username}/following`, selectedTab != 'followers')
            +createTab('Followers', `/profile/${profileUser.username}/followers`, selectedTab == 'followers')

        .loadingSpinnerContainer
            img(src='/images/LoadingSpinner.gif', alt='Loading spinner')
        .resultsContainer(style='visibility: hidden')

block scripts
    script(src='/js/followers.js')
