extends layouts/main-layout

block content
    +createPostForm(userLoggedIn)

    .loadingSpinnerContainer
        img(src='/images/LoadingSpinner.gif', alt='Loading spinner')
    .postsContainer(style='visibility: hidden')

    +createPostModels(userLoggedIn)

block scripts
    script(src='/js/home.js')
