extends layouts/main-layout

block content
    .loadingSpinnerContainer
        img(src='/images/LoadingSpinner.gif', alt='Loading spinner')
    .resultsContainer(style='visibility: hidden')

block headerButton
    a(href='/messages/new')
        i.far.fa-plus-square

block scripts
    script(src='/js/inbox.js')
