extends layouts/login-layout

block content
    .loginContainer
        h1 Login
        form(method='post')

            p.errorMessage #{errorMessage}

            input(type='text', name='LogEmail', placeholder='Email', value=LogEmail)
            input(type='password', name='LogPassword', placeholder='Password')
            input(type='submit', value='login')
        a(href='/register') Register here!

