extends layouts/main-layout

block content

    .loadingSpinnerContainer
        img(src='/images/LoadingSpinner.gif', alt='Loading spinner')
    .resultsContainer(style='visibility: hidden')

block headerButton
    button#markNotificationAsRead
        i.fas.fa-check-double

block scripts
    script(src='/js/notifications.js')
