extends layouts/main-layout

block content

    .searchBarContainer
        i.fas.fa-search
        input#searchBox(type='text', name='searchBox', data-search=selectedTab, placeholder='Search for users or posts')

    .tabsContainer
        +createTab('Posts', `/search/posts`, selectedTab != 'users')
        +createTab('Users', `/search/users`, selectedTab == 'users')

    .loadingSpinnerContainer(style='display: none')
        img(src='/images/LoadingSpinner.gif', alt='Loading spinner')
    .resultsContainer(style='visibility: hidden')

    +createPostModels(userLoggedIn)

block scripts
    script(src='/js/search.js')
