mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt='User profile picture')
        .textareaContainer
            textarea#postTextarea(placeholder='What is new?')
            .buttonsContainer
                button#submitPostButton(disabled='') Post
